body,div{ 
	margin: 0; 
	padding: 0; 
	}
#div1 {
	width: 100%;
	height: 800px;
	background: rgba(0,0,0,0.4);
}
#div2 {
	background: url(../img/backgroundimg.jpg) no-repeat;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Î¢ÈíÑÅºÚ";
}
#LOGO{
	margin-top:20px;
	margin-left:350px;
	}
#LOGO img{
	border-radius:20px;
	}
#top{
	font-size:16px;
	font-family: "Î¢ÈíÑÅºÚ"; 
	margin-top:-80px;
}
#top p{
	margin-left:510px;	
}

#bottom {
	text-align:center;
}
#bottom ul {
	text-align:center;
	margin-left:305px;
}
#bottom li{
	background-color: #00CCFF;
	width:147px;
	height:40px;
	line-height:40px;
	cursor: pointer;
	color:red;
	border-radius: 5px;
	list-style:none;
	margin:5px;
	word-spacing: 10px;
	transition: .3s;
}
#bottom li:hover {
	border:none;
	transform-origin: center top; 
	transform: scale(1.1); 
}
a{
	margin:5px 10px;
	text-decoration: none; 
	line-hight:40px;
}
#active{
	color:#996600;
}
#btmdiv{
	width:300px;
	height:auto;
	margin-top:-200px;
}
.show{
	width:300px;
	height:auto;
	border:1px #00CCFF solid;
	border-radius: 5px;
	float:left;
	margin-left:520px;
	margin-top:10px;
}
.show p{
	float:left;
	line-height:35px;
	margin:5px 30px;
}