body,div{ 
	margin: 0; 
	padding: 0; 
	}
#div1 {
	width: 100%;
	height: 800px;
	background: rgba(0,0,0,0.4);
}
#div2 {
	background: url(../img/backgroundimg.jpg) no-repeat;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	margin: 0;
	padding: 0;
	text-align:center;
}
p{
	font-size:20px;
	margin-top:300px;
	font-family: "Î¢ÈíÑÅºÚ";
	color:red;
}
a{
	font-size:24px;
	color:#00CCFF;
	cursor: pointer;
}
