<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>MakeCode</servlet-name>
    <servlet-class>servlets.MakeCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginChangeCode</servlet-name>
    <servlet-class>servlets.LoginChangeCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterChangeCode</servlet-name>
    <servlet-class>servlets.RegisterChangeCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemoServlet</servlet-name>
    <servlet-class>servlets.MemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LookMemoServlet</servlet-name>
    <servlet-class>servlets.LookMemoServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>MakeCode</servlet-name>
    <url-pattern>/MakeCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginChangeCode</servlet-name>
    <url-pattern>/LoginChangeCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterChangeCode</servlet-name>
    <url-pattern>/RegisterChangeCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemoServlet</servlet-name>
    <url-pattern>/MemoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookMemoServlet</servlet-name>
    <url-pattern>/LookMemoServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
