<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easymemo.dao.MemoMapper">
    <insert id="addMemo" parameterType="memo" useGeneratedKeys="true" >
        insert into memo (memo_content, memo_account, memo_password, memo_note, memo_date, user_account)
        values (#{memoContent}, #{memoAccount}, #{memoPassword}, #{memoNote}, #{memoDate}, #{userAccount});
    </insert>

    <select id="lookMemo" parameterType="string" resultType="memo">
        select * from memo where user_account=#{userAccount} order by memo_id desc;
    </select>
</mapper>